*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 20px 0;
  background-color: rgb(0, 63, 99);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

#container{
  width: calc(90px*5);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: rgb(0, 91, 143);
}

.fizz-box{
  background-color: rgb(62, 216, 191);
}

.buzz-box{
  background-color: rgb(255, 207, 62);
}

.both-box{
  background-color: rgb(245, 86, 104);
}